<!-- new code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.solarcity.com/sites/all/themes/solarcity/img/video-bg-poster.jpg');">
  <div class="banner-content">
    <h1>Some Stuff</h1>
    <p>Very cool stuff, useful and smart</p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>

<div class="wrapper-black">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center padded">
          <h1>Our Mission</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, odio, esse. Beatae unde eveniet vel fuga totam, ratione explicabo non cumque dolor atque, doloremque commodi sed velit molestiae quos, dolores.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-lightgray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center padded">
          <h1>Join</h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="text-center padded">
          <h1>Team</h1>
            <div class="row">
              <div class="col-md-2">
                <div class="card">
                  Thomas
                </div>
              </div>
              <div class="col-md-2">
                JB
              </div>
              <div class="col-md-2">
                Tauan
              </div>
              <div class="col-md-2">
                Quan
              </div>
              <div class="col-md-2">
                Cristine
              </div>
              <div class="col-md-2">
                ...
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


